img {
    max-width: 100%;
}

#login-form {
    border-radius: 25px;
    border: 5px solid #73AD21;
    padding: 20px; 
    height: 300px; 
    margin: 0 auto;
    width: 600px;
    position: fixed;
    bottom: 0;
    border-radius: 25px;
    
   
}

#log-inbg{
  background: #d84b3b;  
}

#login-form form {
    border: none;
}


#login-form input {
    margin: 3px;
    width: 100%;
}