/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html.no-js {
    display: none;
}

h2 {
    margin-bottom: 0;
}

div,
input,
select {
    box-sizing: border-box;
}

h2 {
    color: #06f;
}

.monospace {
    font-family: "Consolas", monospace;
}

#receipt {
    font-weight: bold;
}

th,
td {
    padding: 5px;
}

#cart {
    background-color: #222;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    overflow: auto;
}

#cart h2 {
    color: #fc3;
}

p.error {
    text-align: center;
}

p.error span {
    padding: 5px 10px;
    display: inline-block;
    background-color: #f30;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
}

#menu-prod {
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding-bottom: 1em;
}

#menu-prod h2 {
    color: #c00;
}

#menu-prod div.prod {
    width: 150px;
    margin: 2.5px;
    padding: 10px;
    border-bottom: #900 3px solid;
    border-radius: 5px;
    background-color: #c30;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

#menu-prod div.prod:hover {
    background-color: #f63;
    border-bottom-color: #c30;
    transition: background-color 0.5s;
}

#menu-prod div.prod div.name,
#menu-prod div.prod div.qty {
    overflow: hidden;
}

#menu-prod div.prod input {
    padding: 5px 10px;
    border: none;
    width: 100%;
    color: #600;
}

#menu-prod div.prod input[type="number"] {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px 5px 0 0;
}

#menu-prod div.prod input[type="submit"] {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 5px 5px;
}

#menu-prod div.prod input[type="submit"]:hover {
    background-color: #fff;
    transition: background-color 0.25s;
}

#main-menu {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

#main-menu a {
    margin: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.25s;
}

#main-menu a:hover {
    background-color: #555;
}

#logout-link {
    float: right;
}

#void-fields {
    margin: 5px 0;
}

img {
    max-width: 100%;
}

#login-form {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    height: 300px; 
    margin: 0 auto;
    width: 600px;
    position: fixed;
    bottom: 0;
}

#login-form form {
    border: none;
}


#login-form input {
    margin: 3px;
    width: 100%;
}

a.link-but {
    text-align: center;
    margin: 5px;
    padding: 0.25em 0.55em 0.15em;
    background-color: #fc3;
    border-radius: 0.25em;
    border-bottom: #c90 0.1em solid;
    color: #000;
    font-size: 1.5em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    box-sizing: border-box;
}

a.link-but:hover {
    background-color: #ff6;
}

a.link-but.add {
    border-radius: 50%;
}

.small {
    font-size: 0.75em;
}

.subitem {
    font-weight: 800;
    font-style: italic;
}

td {
    vertical-align: text-top;
}

a {
    text-decoration: none;
}

div.wrapper {
    padding: 20px;
}

a.or-link {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    background-color: #06f;
    border-bottom: #03f 3px solid;
}

a.or-link:hover {
    background-color: #39f;
    border-bottom-color: #36f;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
    table{
        margin:0 auto;
    }

    #product_left{
        width: 20%;
        top:50px;
        left: 0;
        bottom: 0;
        background-color: #333;
        position: absolute;
        
    }

    #product-wrapper input {
        width: 100%;

    }
    #product-wrapper h2{
        color: #fc3;
        background:#333;

    }

    #addButton{
        margin-top: 1em;
        width: 100%;
    }

    #add_product{
        text-align: center;
        margin:18%;
    }

    #setBtn{
        width: 100%;
    }

    #subitem{
        text-align: center;
    }

        /*product*/

    #product_table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
    }

    #product_table td ,  #product_table th{
        font-size: 1em;
        padding: 7px 7px 2px 3px;
    }

    #product_table th {
        width: 80%;
        font-size: 1.1em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #007cd9;
        color: #ffffff;
    }

    #product_table tr:nth-child(even) {

    }

    #product_table tr.alt td {
    background-color: #e4e4eb;
    color: #000000;
    }

    #product_header{
        text-align: center;
    }

    #product_div{
        position: absolute;
        top: 10%;
        left: 30%;
        right: 10%;
        bottom: 0;
        overflow-y: scroll;

    }

    #product_edit{
        position: absolute;
        top:10%;
        left: 40%;
    }


    #product_edit h2{
        color: #fc3;
        background:#333;
        text-align: center;
    }

    #edit_p{
        width: 100%;
    }

    #delete_function{
        padding-top: 1em;
        margin-top: 10%;
        text-align: center;
        color: #fc3;
        background: #333;
        margin-left:40%;
        margin-right:40%;
    }

    #delete_buttton{
        margin:0 auto;
        width: 50%;
        margin-bottom: 1em;
        margin-top: 1em;

    }

    /*sales*/
     #sales-wrapper h2{
        text-align: center;
        color: #fc3;
       
    }

     #sales_left{
        width: 25%;
        top:50px;
        left: 0;
        bottom: 0;
        background-color: #333;
        position: absolute;
    }

    #sales_mar{
        margin-left: 5%;
        text-align: left;
        color: white;
    }

    #select_by{
        color: #333;
    }

    #select_order{
        color: #333;
    }

    #gen_1{
        text-align: center;
        color: white;
    }

    #select_name{
        color: #333;
    }

    #gen_2{
        text-align: center;
        color: white;
    }

    #select_to{
        color: #333;
    }

    #gen_3{
        width: 30%;
        margin-left: 35%;
        margin-top:5%; 
    }

    #sales_div{
        position: absolute;
        top: 10%;
        left: 30%;
        right: 10%;
        bottom: 0;
        overflow-y: scroll;

    }

    #sales_table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
    }

    #sales_table td ,  #sales_table th{
        font-size: 1em;
        padding: 7px 7px 2px 3px;
    }

    #sales_table th {
        width: 30%;
        font-size: 1.1em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #007cd9;
        color: #ffffff;
    }

    #sales_table tr:nth-child(even) {

    }

    #sales_table tr.alt td {
    background-color: #e4e4eb;
    color: #000000;
    }

    /*user*/
    #users-wrapper{
        text-align: center;
    }

    #Users_a{
        color: #fc3;
    }

    #parent_p, #child_p {
        color: #fff;
    }


